<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helloWorldAssessment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15CF74E91C557DCB00363A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CF75021C557DCB00363A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CF750D1C557DCB00363A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
